/bin/
/build/
/xdocs/style/stylesheets/any2header.xsl
/xdocs/style/stylesheets/any2project.xsl
/xdocs/style/dtd/blocks.ent
/xdocs/style/dtd/book.dtd
/xdocs/style/stylesheets/book2group.xsl
/xdocs/style/stylesheets/book2project.xsl
/xdocs/style/resources/bottom.gif
/xdocs/style/graphics/button-a.gif
/xdocs/style/resources/button-asf-hi.gif
/xdocs/style/resources/button-asf-lo.gif
/xdocs/style/graphics/button-b.gif
/xdocs/style/resources/button-w3c-hi.gif
/xdocs/style/resources/button-w3c-lo.gif
/xdocs/style/resources/button-xml-hi.gif
/xdocs/style/resources/button-xml-lo.gif
/xdocs/style/dtd/changes.dtd
/xdocs/style/stylesheets/changes2document.xsl
/xdocs/style/dtd/characters.ent
/xdocs/style/resources/close.gif
/xdocs/style/stylesheets/context2footer.xsl
/xdocs/style/stylesheets/context2label.xsl
/xdocs/style/stylesheets/directory2project.xsl
/xdocs/style/dtd/document.dtd
/xdocs/style/stylesheets/document2html.xsl
/xdocs/sources/xalan/DONE
/xdocs/style/resources/dot.gif
/xdocs/sources/entities.ent
/xdocs/style/dtd/faqs.dtd
/xdocs/style/stylesheets/faqs2document.xsl
/xdocs/style/stylesheets/group2document.xsl
/xdocs/style/resources/join.gif
/xdocs/style/resources/line.gif
/xdocs/style/dtd/links.ent
/xdocs/style/loader.xml
/xdocs/style/resources/logo.gif
/xdocs/style/dtd/markup.ent
/.idea/misc.xml
/samples/Trace/.idea/misc.xml
/.idea/modules.xml
/samples/Trace/.idea/modules.xml
/xdocs/style/resources/note.gif
/xdocs/style/resources/right.gif
/xdocs/style/resources/script.js
/xdocs/style/resources/separator.gif
/src/org/apache/xalan/xsltc/compiler/sym.java
/samples/Trace/Trace.iml
/samples/Trace/.idea/vcs.xml
/src/org/apache/xalan/Version.java
/src/org/apache/xml/serializer/Version.java
/xdocs/style/resources/void.gif
/.idea/xalan-java.iml
/src/org/apache/xalan/xsltc/compiler/XPathLexer.java
/src/org/apache/xalan/xsltc/compiler/XPathParser.java
/src/org/apache/xalan/processor/XSLProcessorVersion.java
/xdocs/sources/xalan/XSLTCDONE
